apiVersion: apps/v1
kind: Deployment
metadata:
  name: reto-tecnico
  labels:
    app: devops-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: devops-app
  template:
    metadata:
      labels:
        app: devops-app
    spec:
      containers:
      - name: neoris-api
        image: paulxavy/neoris-app:latest
        ports:
        - containerPort: 8084
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "256Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: devops-service
spec:
  type: LoadBalancer 
  selector:
    app: devops-app
  ports:
    - protocol: TCP
      port: 80       
      targetPort: 8084