name: CI-CD

on:
  push:
    branches: ["*"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.14'

      - name: Dependency Management
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Static Code Revision (Flake8)
        run: flake8 app/ --count --select=E9,F63,F7,F82 --show-source --statistics

  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Automatic Testing
        run: pytest --cov=app tests/

  deploy:
    needs: test
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - name: Production Deploy Simulation
        run: |
          echo "Desplegando la versión ${{ github.sha }} al entorno de producción"
          echo "Cumpliendo requisito"